
body{
    background-color:rgb(211, 211, 209);
}
.container {
    display: grid;
    row-gap: 20px;
}
.main{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
}
.c-1,.c-2,.c-3{
    border: 2px solid black;
    width: 250px;
    padding: 2px 16px;
    column-gap: 20px;
    background-color: white;
    padding: 2px 16px;
    margin: 10px;

}
img{
    width: 200px;
    height: 150px;
    align-items: center;
  }
button {
    border: none;
    color: rgb(61, 83, 152);
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    height: 40px;
    width: 100%;
  }