*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    text-transform: capitalize;
}
html, body{
    min-height: 100% !important;
}
.container{
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    background-color: rgba(36,87,196,255);   
}
.row{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    max-width: 350px;    
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 6px 0px;
    background-color: white !important;
    padding: 20px;
}   
.heading h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#414548;
}
.login{
    margin: 30px 0px;
}
.formInput{
    width: 100%;
    border-radius: 5px;
    border: 0.5px solid #d9d8d8;
    padding: 11px;
    margin: 10px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 6px 0px;
}
.formInput::placeholder{
    color: #9c9c9c;
}
.login a{
    color: #0e7ee0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.login p{
    color: #7c7d80; 
    font-size: 14px;
}
.inputGroup{
    position: relative;
}
.eyeIcon{
    color: #7c7d80;
    position: absolute;
    top: 30%;
    right: 7%;
}
.Submit{
    background-color:rgb(47, 47, 225);
    color: white;
    width: 100%;
    border: 1px solid transparent;
    margin: 14px 0px;
    border-radius: 5px;
    padding: 11px;
    transition: 0.3s;
    
}
.Submit:hover{
    color: rgba(2,114,217,255);
    background-color: transparent;
    border: 1px solid rgba(2,114,217,255);
    cursor: pointer;
}
.beforeOR{
    margin: 18px 0px;
    font-size: 18px;
    display:flex;

}
.beforeOR::before, .beforeOR::after {
    color:white;
    content:'';
    flex:1;
    border-bottom:groove 1px rgb(220, 214, 214) !important;
    margin: auto 10px;
    box-shadow: 0 -2px;
}
.Socialmediaicon button{
    width: 100%;
    margin: 8px 0px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: capitalize;
    line-height: 37px;
    font-weight: 500;
    cursor: pointer;
}
.Socialmediaicon button i{
    float: left;
    font-size: 30px;
    line-height: 37px;
    margin-left: 10px;
}
.Socialmediaicon button i img{
    width: 21px;
    object-fit: contain;
}
.fbButton{
    background-color: #0b50c0; 
    color: white;
    font-weight: bold;
}
.googleButton{
    color: #9790b3;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid rgb(220, 214, 214) !important;
}
input:invalid {
    border: 1px solid red;
  }
 .error{
    color: red;
    font-size: 10px;
    float: left;
 }
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}
