.main{
    height: auto;
    min-height: 600px;
    width: 100%;
    border: 0px solid black;
    margin: auto; 
    font-family: "Mukta Mahee", arial, sans-serif;
   
}
.top{
    width: 100%;
    height: 600px;
    background-image: url("/assets/images/hero_1.jpg.webp");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 700px;
    width: 100%;
}
.header{
    height: 150px;
    width: 100%;
    border: 0px solid black;
    display: flex;
}
.logo{
    padding: 50px;
    width: 25%;
    border: 0px solid black;

}
.logo a{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    font-family: "Abril Fatface", times, serif!important;
    text-decoration: none;
}

.navbar{
    padding: 50px 50px;
    display: flex;
    width: 75%;
    float: right;
    border: 0px solid black;
}
.name h1{
   color: #fff;
   font-family:Arial, Helvetica, sans-serif;
   text-align: center; 
   font-size: 70px;
   font-weight: bold;
}
.name p{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
}
.name a{
    color:  #6d68681a;
}
.name a:hover{
    color: #fff;
}
button{
    align-items: center;
    margin-left: 540px;
    padding: 1rem 30px;
    color:#fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .2em;
    border-width: 2px;
}
button:hover{
    background-color: #fff;
}
button a{
    color:#fff;
    text-decoration: none;
}
button a:hover{
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}
.seconddiv{
    margin-top: 130px;
    display: flex;
}
.seconddiv img{
    padding-left: 30px;
}
.content{
padding: 30px 80px;
margin-top: 50px;
}
 p{
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    color: #6c757d;
}
 h2{
    font-family: "Abril Fatface", times, serif;
    font-size: 2rem;
    color: black;
}
.content a{
    color: #65c0ba;
    text-decoration: none;
    background-color: transparent;
}
.content a:hover{
    color: #3f9a94;
}
.content span{
    letter-spacing: .1em;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Mukta Mahee", arial, sans-serif;
    line-height: 1.8;
}
.thirddiv{
    margin-top: 150px;
    background: #fafafa;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    height: 1100px;
}
.thirddiv h2{
    color: #000;
    font-family: "Abril Fatface", times, serif;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 100px;
}
.thirddiv p{
    text-align: center;
    display: block;
}
.grid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    row-gap: 20px;
    padding-left: 20px;
    padding-right: 40px;
    align-items: center;
}
.thirddiv img{
    height: 80px;
    width: 80px;
    align-items: center;
    margin-left: 150px;
}
.grid h3{
    text-align: center;
    font-family: "Abril Fatface", times, serif;
    font-size: 25px;
    font-weight: bold;

}
.thirddiv p{
    text-align: center;
}
.fourthdiv h2{
    margin-top: 90px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;

}
.fourthdiv p{
    text-align: center;
}
.carddiv{
    background-color: #65c0ba;
    height: 950px;
}
.carddiv h2{
    font-family: "Abril Fatface", times, serif;
    text-align: center;
    color:black;
    margin-top: 30px;
}
.carddiv p{
    color: #fff;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-direction: column;
    padding: 2px 16px;
    background-color: white;
  }
  .row{
    display: flex;
    column-gap: 20px;
    margin: 40px;
  }
  .carddiv img{
    width: 100%;
    height: 250px;
  }
  .card p{
    color: #6c757d;
    text-align: left;
  }
  .card h3{
    font-size: 25px;
    font-family: "Abril Fatface", times, serif;
  }
  .card h3:hover{
    color: #65c0ba;
  }
  .fifthdiv{
    background-color: #fafafa;
    margin-top: 80px;
    height: 550px;
  }
  .fifthdiv h2{
    text-align: center;
    font-size: 40px;
    color: #000;
  }
  .fifthdiv p{
    float: left;
    font-style: italic;
  }
  .fifthdiv img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .fifthdiv em{
    line-height: 1.8;
    color: #babfc3;
    font-style: italic;
    padding-top: 30px;
  }
  .lastdiv{
    margin-top: 100px;
  }
  .lastdiv h2{
    text-align: center;
    font-style: bold;
    font-family: "Abril Fatface", times, serif;
  }
  .lastdiv p{
    text-align: center;
  }
  .lastdiv img{
    width: 230px;
  }
  .row1{
    display: flex;
    column-gap: 20px;
    margin: 40px;
  }
  .row1 p{
     margin-top: 5px;
    float: left;
    color: #d1d7de;
    font-style: italic;
  }
  .footer{
    height: 400px;
    background-color: #1a1a1a;;
    display: flex;
    column-gap: 120px;
  }
  .footer b{
    color: #fff;
    line-height: 6;
    margin-left: 40px;
  }
  .footer li{
    list-style: none;
  }
  .footer li a{
    text-decoration: none;
    color: #6c757d;
    line-height: 2;
  }
  .footer li a:hover{
    color: #fff;
  }
 .contactinfo i{
    color: white;
  }
  .subc input{
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 15px;
    width: 100%;
    font-style: italic;
    box-shadow: none;
  }
.copyright{
    background-color: #1a1a1a;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 200px;
}
.social-icons a{
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 17px;
}
.social-icons a:hover{
  color: #fafafa;
}

  